*{
    scroll-behavior: smooth;
}
footer{
    border-radius: 10px;

}
/* Para que el footer este bien en cada articulo */
.icon-container li a {
    left: -13.5rem;
}
/* Clases para cada articulo */
.main-articulo{
    float: left;
    width: calc(80% - 80px);
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #f9f5f0;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.section-articulo{
    margin: 3rem;
}
.section-articulo a{
    text-decoration: none;
    color: black;
}
.section-articulo a:hover{
    color: #d0678f;
}

.introduccion {
    text-align: center;
    align-content: center;
}

.introduccion img {
    width: 90%;
}

.introduccion article {
    text-align: left;
    margin-left: 3.9rem;
    width: 90%;
}
.img{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
}
.img1 {
    text-align: center;
    margin-top: 2rem;
}

.img1 img {
    width: 70%;
}

.img2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}
.img2 img{
    width: 70%;
}
.compartir{
    text-align: center;
    
}
.compartir span{
    margin-right: 2rem;
    transition: transform 0.3s ease;
}
.compartir span:hover{
    transform: scale(1.3);
}
aside{
    background-color: #f9f5f0;
    align-content: center;
   
    margin-right: 0;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 6px;
}
.lateral-h4 {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
}
.links-lateral{
    margin: 1rem;
    text-decoration: none;
    color: #d0678f;
    transition: color 0.3s ease;
}
aside ul{
    text-decoration: none;
    list-style-type: none;
}
.links-lateral:hover{
    color: black;
    text-decoration: underline;
}

.otros-articulos{
    background-color: #f9f5f0;
    align-content: center;
    margin-right: 0;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 6px;
}

#lateral{
    width: 26rem;
    display: initial;
    position: fixed; 
    
}

/* Sobre cosas específicas */
#imgB1-cicatrizar{
    width: 40%;
}
#imgB1-quitar-hojas{
    width: 80%;
}
#imgB1-plantar{
    width: 88%;
}
/* Clases para la página con todos los artículos del blog */
.content {
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.articulos-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.article-box{
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.article-box img{
    border-radius: 1rem;
    height: 350;
    width: 100%;
}

.content-blog h3 {
	font-size: 1.2rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
    margin-bottom: 1rem;
}

.btn-read-more {
    float: left;
	padding: 1rem 2rem;
	background-color: #da7cb5;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-radius: 2rem;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: black;
}

/* Clases para la página general del blog */
.container {
	max-width: 120rem;
	margin: 2px auto;
    font-size: 0.875em  
}
.top-categories {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
    margin: 0 auto;
	margin-bottom: 2rem;
}
.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
    padding-top: 20px;
}
.container-categories {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.card-category {
    margin: 0 auto;
	height: 20rem;
    width: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	gap: 1rem;
    transition: all 0.3s;
}
.card-category:hover{
    transform: scale(1.05);
}
.category-tutoriales {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/categorias/tutorial-card.jpeg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}
.category-especies {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/categorias/especies-card.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category a {
	font-size: 1.4rem;
	color: #fff;
	cursor: pointer;
    text-decoration: none;
}

.card-category a:hover {
	text-decoration: underline;
}

/* Galeria de imagenes */
.gallery-inicio {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery-inicio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-inicio-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}
