/*@import "grid.css";*/
@import "productos.css";
/*@import "extra-styles.css";*/
@import "grid.css";

html{
    font-family: 'Poppins', sans-serif;
}

.logo{
    height: 150px;
    width: 150px;
    /* Para que se pueda acomoda el texto en el centro del header 
    sin tomar en cuenta el logo*/
    position: absolute;
    left: 30px;
    bottom: 7px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}
.logo:hover{
    box-shadow: 0 8px 8px #484848;
}

body {
	/*font-family: 'Poppins', sans-serif;*/
    background-color: #f9f5f0;
    /*font-size: 62.5%;*/
}

header{
    text-align: center;
    background-color: #4ea434;
    padding-top: 3px;
    padding-bottom: 3px;
    /* Para cambiar el logo a absoluto con respecto al header */
    position: relative;
    border-radius: 10px;
}

header h1{
    color: #FAF8F6;
    font-size: 4em;
    text-shadow: 2px 2px 2px #484848;
}
main{
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    background-color: #000000;
    border-radius: 10px;
    position: relative;
}
.nav-button{
    margin: 0 auto;
    display: flex;
    padding: 16px;
}
.nav-button a{
    color: #FAF8F6;
    text-decoration: none;
    font-size: 1.2em;
    /* Respecto a la posición */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Respecto al hover */
    transition: box-shadow 0.3s ease;
    
}
.nav-button a:hover{
    text-decoration: underline;
}
button{
    border: none;
    background-color: inherit;
    font-size: 1em;
}
.dropdown{
    /* Para acomodar los links del dropdown */
    position: relative;
}
/* Sobre los que estan escondidos */
  .dropdown-content {
    /* Para que no se vean al inicio */
    display: none;
    position: absolute;
    top: 56px;
    left: 2px;
    background-color: #AF7746;
    border-radius: 10px;
    padding: 15px;
  }
  /* Links del dropdown */
  .dropdown-content a {
    color: #FAF8F6;
    padding: 6px 6px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    transition: box-shadow 0.3s ease;
  }
  .dropdown-content a:hover {
    background-color: #9f6735;
    border-radius: 10px;
  }
  /* Este es el que muestra el dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /*//////////////////////////////////////////
    PARA HACER EL CONTENEDOR DE LAS CATEGORÍAS
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
  .container {
	max-width: 120rem;
	margin: 2px auto;
    font-size: 0.875em  
}

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
    margin: 0 auto;
	margin-bottom: 2rem;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
    padding-top: 20px;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*gap: 1rem;*/
}

.card-category {
    margin: 0 auto;
	height: 20rem;
    width: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	gap: 1rem;
    transition: all 0.3s;
}

.card-category:hover{
    transform: scale(1.05);
}

.category-maceta {
	background-image: linear-gradient(#30483280, #504f4f80),
		url('../img/productos/maceta-card.jpeg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-suculentas {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/productos/suculentas.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-cactus {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/productos/cactus.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category a {
	font-size: 1.4rem;
	color: #fff;
	cursor: pointer;
    text-decoration: none;
}

.card-category a:hover {
	text-decoration: underline;
}

/* CIERRE DE LOS ESTILOS DEL CONTENEDOR DE LAS CATEGORÍAS*/



/* ////////////////////////////////////////////////////
APERTURA DE LA GALERÍA DE FOTOS
//////////////////////////////////////////////////////*/
.gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 15rem);
	gap: 0.5rem;
	margin-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 30px;
}


.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

.gallery-img-6 {
	grid-column: 4/6;
	grid-row: 2/4;
}
/* ///////////////////////////////////////
    APERTURA DE CONTENEDOR DE ARTICULO
    /////////////////////////////////////*/
.titulo-articulo{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    align-self: center;
    font-size: large;
}

.contenedor-articulo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedor-articulo img{
    margin-right: 10px;
    margin-left: 20px;
}
.contenedor-texto{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
}

.contenedor-texto a{
    color: rgb(14, 0, 137);
    text-decoration: none;
}

.contenedor-texto a:hover{
    text-decoration: underline;
}