body {
	background-color: #f9f5f0;
}
.introduccion{
	text-align: center;
}

.introduccion p{
	margin-left: 20rem;
	margin-right: 20rem;
}

.gallery-inicio {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery-inicio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-inicio-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}