.title-products{
    font-weight: lighter;
    text-align: center;
    margin: 10px 0 30px 0;
    padding-top: 20px;
    padding-bottom: 13px;
}

.product-box{
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.product-box:hover{
    text-decoration: none;
    transform: scale(1.05);
}

.product-box img{
 align-self: center;
}

/*.product-box:hover img{
}*/

.product-box h3{
    font-size: 14px;
    font-weight: normal;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-box button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}


.product-box .offer{
    padding-top: 15px;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.product-box .offer.hidden{
    visibility: hidden;
}

.product-box .price{
    font-size: 18px;
    padding-bottom: 5px;
}

.product-box strong del{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
}

.stars-group{
    align-items: center;
} /*Aún no lo he usado*/

.stars-group img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-left: 5px;
}

.product-box button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.product-box button:hover{
    background-color: rgb(161, 161, 161);
    color: black;
}


