.content {
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: larger;
    color: rgb(103, 102, 102);
    line-height: 1.5;
}

.content p{
    text-align: left;
}
/*.libros {
    margin: 0 auto;
}*/
.libros-container {
    display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  padding-bottom: 30px;
}

.suculentas-container {
    display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  padding-bottom: 30px;
}

.libro {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.libro img {
    max-width: 100%;
    height: auto;
}

.noticia {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
}

.noticia-container {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: start;
}
.noticia-container img {
    max-width: 100%;
    height: auto;
}
.noticia-content {
    padding: 1em;
}

